<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="loader" ng-show="loading">
                <img ng-src="/assets/images/loader.gif" alt="Loading"/>
            </div>
            <div class="image_block" ng-show="image.info">
                <img ng-src="{{ image.info.photo.image.big }}" alt="{{ image.info.photo.title._content }}" />
                <h2>{{ image.info.photo.title._content }}</h2>
                <p style="text-align: right">a photo by <b>{{ image.info.photo.owner.username }}</b></p>
            </div>
        </div>
    </div>
</div>