<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline search_form" ng-submit="images.search()">
                <div class="form-group">
                    <input type="text" ng-model="images.search_input" class="form-control" id="searchInput" placeholder="Cat">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>

        <div class="loader" ng-show="loading">
            <img ng-src="/assets/images/loader.gif" alt="Loading"/>
        </div>
        <div ng-show="images.items.length">
            <div class="col-xs-6 col-md-3" ng-repeat="image in images.items | paginate:(currentPage-1)*perPage | limitTo:perPage">
                <a href="/image/{{ image.id }}" class="thumbnail">
                    <img ng-src="{{ image.image.small }}" alt="{{ image.secret }}" class="img">
                </a>
            </div>

            <div class="col-md-12">
                <uib-pagination total-items="images.items.length" ng-model="currentPage" max-size="perPage"></uib-pagination>
            </div>
        </div>
    </div>
</div>