@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./ie10-viewport-bug-workaround";

body {
  padding-top: 70px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.search_form {
  margin: 0 0 35px 0;
}

.image_block {
  display: block;
  text-align: center;
  margin-bottom: 70px;
}

.img {
  width: 150px;
}

.loader {
  display: block;
  text-align: center;
  margin: 20px 0;
}